<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript"  src="js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="image/logo.svg" type="image/gif" sizes="16x16"> <!-- fekete kacsacsőrök kellenek-->
        <link rel="stylesheet" href="style.css">
        <noscript>Kapcsold be JavaScriptet a böngészőben az adagok hozzáadásához!</noscript>
        <title>Shop</title>
    </head>
    <body>
        <div class="background" ></div>
        <header class="fooldal"> 
            <nav class="mobilMenu">
                
<!--mobil menü-->
    <div id="myNav" class="overlay">
            <a th:href="@{/game}">Kezdőlap</a>
            <a th:href="@{/game}">Inventory</a>
            <a th:href="@{/shop}">Shop</a>
            <a th:href="@{/delete}">Fiók törlése</a>
            <a id="logout" th:href="@{/logout}">Kijelentkezés</a>
        </div>
    </div>

<div>  <!--menu sor -->

    <div class="ulMobil">
    
        <a alt="Vissza a főoldalra gomb" style="font-size:70px;cursor: pointer;color:white" th:href="@{/}">&#8962;</a>
        <a id="menulogo" style="font-size:30px;cursor:pointer;color:white;" th:href="@{/}"></a>
        <a alt="Menü gomb" style="font-size:70px;cursor:pointer;color:white" onclick="openNav()">&#9776;</a>
    </div>
</div>
</nav>
<!-- asztali menü -->
<nav class="desktopMenu">

    <div id="myNav_desk" class="overlay">
        <a  class="closebtn" onclick="closeNav_desk()" style="cursor: pointer;">&times;</a>
        <div class="overlay-content">
        <a th:href="@{/game}">Kezdőlap</a>
        <a th:href="@{/game}">Inventory</a>
        <a th:href="@{/shop}">Shop</a>
        <a th:href="@{/delete}">Fiók törlése</a>
            <form th:action="@{/logout}" method="post">
                <input type="submit" id="logout" value="Kijelentkezés">
            </form>
        </div>
    </div>
    
    <ul class="deskMenuList">
        <li>
            <a th:href="@{/}"> <img class="logo" src="image/logo.svg" alt="A honlap logója ami egy link a főoldalra." width="1000" height="1000"> </a>
        </li>
        <li>
            <a th:href="@{/}"> <p id="pageName">My little developer</p></a>
        </li>
        <li>
        </li>
        <li>
            <a alt="Menü gomb" class="menu_bottom"  onclick="openNav_desk()">&#9776;</a>
        </li>
    </ul>
</nav>
        <div class="back_arrow">
            <a th:href="@{/game}"><span>&#8592;</span></a>
            <span class="back_tooltip">Vissza</span>
        </div>

        <h1 class="shop_h1">
            Shop
        </h1>
        <div class="balance"> <!--ide kell egy select, hogy mennyi pénze van a felhasználónak-->
            <p class="zsen" id="balance"></p>
        </div>
        </header>
        <main class="Shop_main" id="up">
            <a href="#up" class="up">
                <div class="up_button">
                      &#8593; 
                </div>
            </a>

            <button onclick="item_tab()" id="item_tab" class="tabs" >Items</button>
            <button onclick="skin_tab()" id="skin_tab" class="tabs">Skins</button>
            
<!--skinek---------------------------------------------------------------------------------------->
            <div class="skins_tab" id="skins">
                <div class="shop_container" id="shop_container_skins">
<!--kártya ide kell beilleszteni a kép elérési útvonalát-------------------------------------->
                        <div class="card" >
                            <a>
                                <img class="skin_img" src="image/skin/20f.png"  alt="Skin előnézete">
                                <div id="price">
                                    1500 Zsen
                                </div>
                            </a>
                            <form>
                                <input type="submit" readonly value="Buy" class="shop_buy"  >
                            </form>
                        </div>

                </div>
           </div>

<!-----------------itemek--------------------------------------------->
           <div class="items_tab" id="items">
                <div class="shop_container"  id="shop_container_items">
        <!--kártya ide kell beilleszteni a kép elérési útvonalát-------------------------------------->

                    <div  class="card" >
                        <a>
                            <img class="item_img" src="image/skin/itemek/sor.png"  alt="Skin előnézete">
                            <div id="price">
                                1500 Zsen
                            </div>
                        </a>
                        <form>
                            <input type="submit" readonly value="Buy"  class="shop_buy"  >
                        </form>
                    </div>
                
                </div>
            </div>

        </main>
        </div>
<!-- media query a responsivitáshoz -->

        <style>
           
            @media only screen and (max-width: 600px) {
                .desktopMenu {
                    display:none;

                }
            }
            @media only screen and (min-width: 600px) {
                .mobilMenu {
                    display:none;
                }
            }
            @media only screen and (max-width: 1000px) {
                #pageName{
                    margin:0;
                    display:none;   
                }
                .deskMenuList{
                    grid-template-columns: 33% 20% 23% 23%;
                }
            }

        </style>
        <script>
            $(document).ready(function (){
                getNotOwnedItems();
                getBalance();
            })

            function getNotOwnedItems(){
                $.get("[[@{'/shop/getNotOwned'}]]", function(responseJson){
                    $("#shop_container_skins").html("")
                    $("#shop_container_items").html("")
                    shopContainerSkins = $("#shop_container_skins")
                    shopContainerItems = $("#shop_container_items")
                    $.each(responseJson, function (index, item){
                        if(item.skin){
                            $("<div>").addClass("card").append('<div  class="card" >\n' +
                                '                        <a>\n' +
                                '                            <img class="item_img" src="image/' + item.url + '"  alt="Item előnézete">\n' +
                                '                            <div id="price">\n' +
                                '                                '+ item.price +' Zsen\n' +
                                '                            </div>\n' +
                                '                        </a>\n' +
                                '                        <form>\n' +
                                '                            <input onclick="buyItem(' + item.id + ')" readonly value="Buy"  class="shop_buy"  >\n' +
                                '                        </form>\n' +
                                '                    </div>').appendTo(shopContainerSkins);
                        }else{
                            $("<div>").addClass("card").append('<div  class="card" >\n' +
                                '                        <a>\n' +
                                '                            <img class="item_img" src="image/' + item.url + '"  alt="Skin előnézete">\n' +
                                '                            <div id="price">\n' +
                                '                                '+ item.price +' Zsen\n' +
                                '                            </div>\n' +
                                '                        </a>\n' +
                                '                        <form>\n' +
                                '                            <input onclick="buyItem(' + item.id + ')" readonly value="Buy"  class="shop_buy"  >\n' +
                                '                        </form>\n' +
                                '                    </div>').appendTo(shopContainerItems);
                        }

                    })
                }).fail(function(){
                    alert("Hiba: nem lehetett kapcsolódni a szerverhez")
                })
            }

            function buyItem(id){
                urlString = "[[@{'/shop/'}]]" + id;
                $.get(urlString, function(responseJson){
                    alert(responseJson)
                    getNotOwnedItems()
                    getBalance()
                }).fail(function(){
                    alert("Hiba: nem lehetett kapcsolódni a szerverhez")
                })
            }

            function getBalance(){
                $.get("[[@{'/shop/balance'}]]", function(response){
                    balanceDiv = $("#balance")
                    balanceDiv.html("Egyenleg:"+ response +" zsen")
                }).fail(function(){
                    alert("Hiba: nem lehetett kapcsolódni a szerverhez")
                })
            }
        </script>
    </body>
    <footer>
        &#169; 2021 mylildev.hu
    </footer>
</html>


