<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<p>Balansz: <div id="balance"></div></p>

    <table>
        <tr>
            <th>ShopItem id</th>
            <th>Skin</th>
            <th>URL</th>
            <th>Description</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
        <tbody id="notOwnedItemsTable">

        </tbody>
    </table>
$("<tr>")
    .append($("<td>").text(item.id))
        .append($("<td>").text(item.skin))
        .append($("<td>").text(item.url))
        .append($("<td>").text(item.description))
        .append($("<td>").text(item.name))
        .append($("<td>").text(item.price))
        .append($("<td>").append('<button onclick="buyItem(' + item.id + ')">Megvétel</button>'))
        .appendTo(notOwnedItemsElement)
</body>
</html>