<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mylildev Regisztrálás</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<div class="container text-center">
    <form th:action="@{/user/process_register}" th:object="${user}"
          method="post" onsubmit="return checkUniqueEmailAndUser(this);">
            <div>
                <label>E-mail: </label>
                <div>
                    <input type="email" id="email" th:field="*{email}">
                </div>
            </div>

            <div>
                <label>Jelszó: </label>
                <div>
                    <input type="password" th:field="*{password}"/>
                </div>
            </div>
            <div>
                <label>Felhasználónév: </label>
                <div>
                    <input type="text" id="username" th:field="*{username}"/>
                </div>
            </div>

            <div>
                <label>Keresztnév: </label>
                <div>
                    <input type="text" th:field="*{firstName}"/>
                </div>
            </div>

            <div>
                <label>Vezetéknév: </label>
                <div>
                    <input type="text" th:field="*{lastName}"/>
                </div>
            </div>
            <p>A regisztrálással elfogadod a <a>felhasználási feltételeket</a></p>
            <div>
                <button type="submit" class="btn btn-primary">Regisztálás</button>
            </div>
    </form>
    <script>
        function checkUniqueEmailAndUser(form){
            userEmail = $("#email").val()
            userName = $("#username").val()

            csrfValue = $("input[name=_csrf]").val()


            parameters = {email: userEmail, username: userName, _csrf: csrfValue}

            $.post("[[@{'/user/validate'}]]", parameters, function (response){
                if(response == "OK"){
                    form.submit();
                }else if(response == "err_email"){
                    alert("Az Email használt")
                }else if(response == "err_username"){
                    alert("A felhasználónév használt")
                }else{
                    alert("Ismeretlen hiba történt")
                }
            }).fail(function (){
                alert("Error connecting")
            })
            return false;
        }

    </script>
</div>
</body>
</html>