<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript"  src="scripts.js"></script>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="src/logo.svg" type="image/gif" sizes="16x16">
        <link rel="stylesheet" href="style.css">
        <noscript>Kapcsold be JavaScriptet a böngészőben az adagok hozzáadásához!</noscript>
        <title>Fiók törlése</title>
    </head>
    <body>
        <div class="background" >
            <header> 
                <nav class="mobilMenu">
                
                    <!--mobil menü-->
                                    <div id="myNav" class="overlay">
                                        <a  class="closebtn" onclick="closeNav_desk()" style="cursor: pointer;">&times;</a>
                                        <div class="overlay-content">
                                            <a href="account.html">Kezdőlap</a>
                                            <a onclick="inv_sec()" href="account.html" >Inventory</a>
                                            <a href="shop.html">Shop</a>
                                            <a href="deactivated.html">Fiók törlése</a>
                                            <a id="logout" href="index.html">Kijelentkezés</a>
                                        </div>
                                    </div>
                    
                                    <div>  <!--menu sor -->
                                
                                        <div class="ulMobil">
                                        
                                            <a alt="Vissza a főoldalra gomb" style="font-size:70px;cursor: pointer;color:white" href="index.html">&#8962;</a>
                                            <a id="menulogo" style="font-size:30px;cursor:pointer;color:white;" href="index.html"></a>
                                            <a alt="Menü gomb" class="menu_bottom"  onclick="openNav()">&#9776;</a>
                                        </div>
                                    </div>
                                </nav>
                        <!-- asztali menü -->
                                <nav class="desktopMenu">
                    
                                    <div id="myNav_desk" class="overlay">
                                        <a  class="closebtn" onclick="closeNav_desk()" style="cursor: pointer;">&times;</a>
                                        <div class="overlay-content">
                                        <a href="account.html">Kezdőlap</a>
                                        <a onclick="inv_sec()" href="account.html" >Inventory</a>
                                        <a href="shop.html">Shop</a>
                                        <a href="deactivated.html">Fiók törlése</a>
                    
                                        <a id="logout" href="index.html">Kijelentkezés</a>
                                        </div>
                                </div>
                                    
                                    <ul class="deskMenuList">
                                        <li>
                                            <a href="index.html"> <img class="logo" src="src/logo.svg" alt="A honlap logója ami egy link a főoldalra." > </a>
                                        </li>
                                        <li>
                                            <a href="account.html"> <p id="pageName">My little developer</p></a>
                                        </li>
                                        <li>
                                        </li>
                                        <li>
                                            <a alt="Menü gomb" class="menu_bottom"  onclick="openNav_desk()">&#9776;</a>
                                        </li>
                                    </ul>
                                </nav>
                            
            </header>
            <main>
                <h1 class="acdelete_h1">Hiányozni fogsz!</h1>
                <p>Sikeresen deaktiváltad a fiókod. A teljes törléshez kérlek erősítsd meg az Email-t. Ha mégse szeretnéd törölni a fiókod és aktiválni szeretnéd, arra is lehetőség van az emailben küldött linkekkel.</p>
            </main>
        </div>
<!-- media query a responsivitáshoz -->
        <style>
            @media only screen and (max-width: 600px) {
                .desktopMenu {
                    display:none;

                }
            }
            @media only screen and (min-width: 600px) {
                .mobilMenu {
                    display:none;

                }
            }
            @media only screen and (max-width: 1000px) {
                #pageName{
                    margin:0;
                    display:none;   
                }
                .deskMenuList{
                    grid-template-columns: 33% 20% 23% 23%;
                }
            }    

            @media only screen and (max-width: 300px) {
                .reg_main{
                    margin: auto;

                }
            }    
                            
        </style>
    </body>
    <footer>
        &#169; 2021 mylildev.hu
    </footer>
</html>


