<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jelszó megváltoztatása</title>
</head>
<body>
<div>
    <form th:action="@{/change_password}" method="post">
    <p>
        <input type="password" name="password" id="password" placeholder="Új jelszó" th:value="${password}"/>
    </p>
    <p>
        <input type="password" class="form-control" placeholder="Kérlek add meg újra a jelszót" required oninput="checkPasswordMatch(this);" />
    </p>
    <p class="text-center">
        <input type="submit" value="Megváltoztatás"/>
    </p>
    </form>
</div>

<script>
    function checkPasswordMatch(fieldConfirmPassword) {
        if (fieldConfirmPassword.value !== $("#password").val()) {
            fieldConfirmPassword.setCustomValidity("Nem egyeznek a jelszavak!");
        } else {
            fieldConfirmPassword.setCustomValidity("");
        }
    }
</script>
</body>
</html>