<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <h2>Elfelejtett jelszó</h2>
</div>

<div th:if="${error != null}">
    <p class="text-danger">[[${error}]]</p>
</div>
<div th:if="${message != null}">
    <p class="text-warning">[[${message}]]</p>
</div>

<form th:action="@{/forgot_password}" method="post">
    <div>
        <div>
            <p>
                <label>
                    <input type="email" name="email" placeholder="Írd ide az emailed" />
                </label>
            </p>
            <p class="text-center">
                <input type="submit" value="Send"/>
            </p>
        </div>
    </div>
</form>

</body>
</html>