<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Játék</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<p>
    Üdv, <b>[[${#request.userPrincipal.principal.username}]]</b>
    <span sec:authentication="principal.authorities">Jogok</span>
</p>
Játékocska
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Kijelentkezés" />
</form>
<form th:action="@{/delete}" method="post">
    <input type="submit" value="Felhasználó törlése" />
</form>
<form th:action="@{/change_password}" method="get">
    <input type="submit" value="Jelszó megváltoztatása" />
</form>

<form th:action="@{/shop}" method="get">
    <input type="submit" value="Bolt" />
</form>

<p>Fejlesztő neve:</p>
<p th:text="${dev.name}"></p>

<div>Jelenlegi munkából hátralévő idő: <div id="time"></div></div>

<div>Munkák: </div>
<table>
    <tr>
        <th>id</th>
        <th>difficulty</th>
        <th>skill</th>
        <th>pay</th>
        <th>time</th>
        <th></th>
    </tr>
    <tbody id="JobsTable">

    </tbody>
</table>

<table>
    <tr>
        <th>helyezet</th>
        <th>eredmény</th>
        <th>név</th>
    </tr>
    <tbody id="leaderboard">

    </tbody>
</table>

<script>

    $(document).ready(function (){
        getJobList();
        getJobProgress();
        getLeaderBoard()
    })

    function getJobList(){
        $.get("[[@{'/dev/get_jobs'}]]", function(responseJson){
            $("#JobsTable").html("")
            JobsTable = $("#JobsTable")
            $.each(responseJson, function (index, job){
                $("<tr>")
                    .append($("<td>").text(job.id))
                    .append($("<td>").text(job.baseDifficulty))
                    .append($("<td>").text(job.skill))
                    .append($("<td>").text(job.pay))
                    .append($("<td>").text(job.timeRequired))
                    .append($("<td>").append('<button onclick="registerJob(' + job.id + ')">Munkára jelentkezés</button>'))
                    .appendTo(JobsTable)
            })
        }).fail(function(){
            alert("Hiba: nem lehetett kapcsolódni a szerverhez")
        })
    }

    function registerJob(job_id){
        $.get("[[@{'/dev/register_job/'}]]" + job_id, function(responseJson){
            if(responseJson == "OK"){
                alert("Sikeres munkafelvétel")
                getJobList()
                getJobProgress()
            }else if(responseJson == "ERR"){
                alert("Már van felvéve egy munkád")
            }else{
                alert("Ismeretlen hiba")
            }
            })
            .fail(function(){
            alert("Hiba: nem lehetett kapcsolódni a szerverhez")
        })
    }

    function getJobProgress(){
        $.get("[[@{'/dev/job_progress'}]]", function(responseJson){

            $("#time").html("")
            percentage = $("#time")

            percentage.append(responseJson);
        }).fail(function(){
            alert("Hiba: nem lehetett kapcsolódni a szerverhez")
        })
    }

    function getLeaderBoard(){
        $.get("[[@{'/dev/leaderboard'}]]", function(responseJson){
            $("#leaderboard").html("")
            leaderBoardTable = $("#leaderboard")
            $.each(responseJson, function (index, dev){
                $("<tr>")
                    .append($("<td>").text((index+1)+"."))
                    .append($("<td>").text(dev.score))
                    .append($("<td>").text(dev.name))
                    .appendTo(leaderBoardTable)
            })
        }).fail(function(){
            alert("Hiba: nem lehetett kapcsolódni a szerverhez")
        })
    }

</script>
</body>
</html>