<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <script type="text/javascript"  src="../static/js/scripts.js"></script>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="src/logo.svg" type="image/gif" sizes="16x16">
        <link rel="stylesheet" href="style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <noscript>Kapcsold be JavaScriptet a böngészőben az adagok hozzáadásához!</noscript>
        <title>Saját fiók</title>
    </head>
    <body class="background_acount" id="up">
        
        <header class="fooldal"> 
            <nav class="mobilMenu">
                
<!--mobil menü-->
                <div id="myNav" class="overlay">
                    <a  class="closebtn" onclick="closeNav_desk()" style="cursor: pointer;">&times;</a>
                    <div class="overlay-content">
                        <a onclick="inv_sec(), closeNav_desk()">Inventory</a>
                        <a th:href="@{/shop}">Shop</a>
                        <a href="rangsor.html">Rangsor</a>
                        <a th:href="@{/delete}">Fiók törlése</a>
                        <form th:action="@{/logout}" method="post">
                            <input type="submit" id="logout" value="Kijelentkezés">
                        </form>
                    </div>
                </div>

                <div>  <!--menu sor -->
			
                    <div class="ulMobil">
                    
                        <a alt="Vissza a főoldalra gomb" style="font-size:70px;cursor: pointer;color:white" th:href="@{/}">&#8962;</a>
                        <a id="menulogo" style="font-size:30px;cursor:pointer;color:white;" th:href="@{/}"></a>
                        <a alt="Menü gomb" class="menu_bottom"  onclick="openNav()">&#9776;</a>
                    </div>
                </div>
            </nav>
    <!-- asztali menü -->
            <nav class="desktopMenu">

                <div id="myNav_desk" class="overlay">
                    <a  class="closebtn" onclick="closeNav_desk()" style="cursor: pointer;">&times;</a>
                    <div class="overlay-content">
                        <a onclick="inv_sec(), closeNav_desk()">Inventory</a>
                    <a th:href="@{/shop}">Shop</a>
                    <a th:href="">Rangsor</a>
                    <a th:href="@{/delete}">Fiók törlése</a>
                        <form th:action="@{/logout}" method="post">
                            <input type="submit" id="logout" value="Kijelentkezés">
                        </form>
                    </div>
            </div>
                
                <ul class="deskMenuList">
                    <li>
                        <a th:href="@{/}"> <img class="logo" src="src/logo.svg" alt="A honlap logója ami egy link a főoldalra." width="1000" height="1000"> </a>
                    </li>
                    <li>
                        <a href="game.html"> <p id="pageName">My little developer</p></a>
                    </li>
                    <li>
                    </li>
                    <li>
                        <a alt="Menü gomb" class="menu_bottom"  onclick="openNav_desk(), job_close(), inv_close() " >&#9776;</a>
                    </li>
                </ul>
            </nav>
        
        </header>
        <main  class="bejelentkezettMain">
            <a href="#up" class="up">
                <div class="up_button">
                      &#8593; 
                </div>
            </a>
            <div class="container">
                <div class="column-left"><img src="" alt="avatar" height="900px" id="user_skin">


                    <div class="bars">
                        <p class="bar_lb" >Energia</p>
                        <div class="bar_background" >
                            <div class="energy" id="energy">
                            </div>
                        </div>

                        <p class="bar_lb" >Éhség</p>
                        <div class="bar_background" >
                            <div class="hunger" id="hunger">
                            </div>
                        </div>
                        <div id="job_progress">
                            <p class="bar_lb" id="time">Visszalévő idő:</p>
                            <div class="bar_background" >
                                <div class="xp" id="xp">
                                </div>
                            </div>
                        </div>
                </div>
    
                </div>
                <form action="" > <!--ha megnyitom az egyiket bezárja a másik ablakot-->
                   <a onclick="inv_sec(), job_close(), skill_close()"> <input class="column" type="button"  value="Inventory"> </a>
                   <a onclick="jobs(), inv_close(), skill_close()"> <input class="column" type="button" value="Munkák"> </a>
                    <a onclick="skills(), job_close(), inv_close()"> <input class="column" type="button" value="Jártasságok"> </a>
                    <input class="column" type="button" onclick="goToSleep()" value="Alvás" id="goToSleepButton">
                    <a th:href="@{/shop}"><input class="column" type="button" value="Shop" ></a>

                </form>

            </div>
            <!--Jártasságok---------------------------------------------------------------------------------------->
            <div id="skillList" class="jobs">
                <a class="closeinv" onclick="skill_close(); " style="cursor: pointer;">&times;</a>
                <table class="jobs_table">
                    <tr>
                        <th>Jártasság</th>
                        <th>Level</th>
                        <th>XP</th>
                        <th>Következő szinthez szükséges XP:</th>
                    </tr>
                    <tbody id="SkillsTable">

                    </tbody>

                </table>
            </div>

<!--munkák a táblázatban jelennek meg---------------------------------------------------------------------------------------->
            <div id="jobs" class="jobs">
                <a class="closeinv" onclick="job_close()" style="cursor: pointer;">&times;</a>
                <table class="jobs_table">
                    <tr>
                        <th>Nehézség(1-100)</th>
                        <th>Jártasság</th>
                        <th>Fizetés</th>
                        <th>Idő szükséges másodpercben:</th>
                    </tr>
                    <tbody id="JobsTable">

                    </tbody>
                   
                  </table>
            </div>
<!--inventory---------------------------------------------------------------------------------------->
        <div id="inv_sec" class="inventory_section" >
            <button onclick="item_tab()" id="item_tab" class="tabs" >Items</button>
            <button onclick="skin_tab()" id="skin_tab" class="tabs">Skins</button>
            <a  class="closeinv" onclick="inv_close()" style="cursor: pointer;">&times;</a>
<!--skinek---------------------------------------------------------------------------------------->
            <div class="skins_tab" id="skins">
                <div class="shop_container" id="shop_skin_container">
<!--ide jönnek a skin-kártyák----------------------------------------------------------------------------------------->
                        <div id="zoom" class="card_inv" >
                                <img class="skin_img" src="image/skin/20f.png"  alt="Skin előnézete">
                            <form>
                                <input type="submit" value="Felhasznál" class="shop_buy"  >
                            </form>
                        </div>

                </div>
           </div>
<!-----------------itemek--------------------------------------------->
           <div class="items_tab" id="items">
            <div class="shop_container" id="shop_item_container">
<!--ide jönnek a item-kártyák----------------------------------------------------------------------------------------->

                <div id="zoom" class="card_inv" >
                        <img class="item_img" src="image/skin/itemek/sor.png"  alt="Skin előnézete">
                    <form>
                        <input type="submit" value="Felhasznál" class="shop_buy"  >
                    </form>
                </div>

        </div>

           </div>
                </div>
        </main>
        </div>
<!-- media query a responsivitáshoz -->

        <style>
           

            @media only screen and (max-width: 600px) {
                .desktopMenu {
                    display:none;

                }
                footer{
                    display:none;
                }
            }
            @media only screen and (min-width: 600px) {
                .mobilMenu {
                    display:none;
                }
            }
            @media only screen and (max-width: 1000px) {
                #pageName{
                    margin:0;
                    display:none;   
                }
                .deskMenuList{
                    grid-template-columns: 33% 20% 23% 23%;
                }
                
            }                      
        </style>

    <script>

        $(document).ready(function (){
            setInterval(getUserStatus, 864000)
            getInventory();
            getUserStatus();
            getJobList();
            getJobProgress();
        })

        function goToSleep(){
            $.get("[[@{'/dev/sleep'}]]", function(responseJson){
                sleeping()
            }).fail(function(){
                alert("Hiba: nem lehetett kapcsolódni a szerverhez")
            })
        }

        var isSleeping;

        function sleeping(){
            isSleeping = true;
            $("#user_skin").attr("src", "image/skin/alvo.png").attr("width", "300px").attr("height", "153px").attr("style", "float:left;padding-top:200px;")
            $("#goToSleepButton").attr("value", "Felkelés").attr("onclick", "wakeUp()")

        }

        function wakeUp(){
            $.get("[[@{'/dev/wake_up'}]]", function(responseJson){
                if(responseJson === "OK"){
                    waking()
                }else if(responseJson === "NO"){
                    alert("Még nem érte el a karakter a 20 energia pontot, ezért nem hajlandó felkelni.")
                }
            }).fail(function(){
                alert("Hiba: nem lehetett kapcsolódni a szerverhez")
            })
        }

        function waking(){
            isSleeping = false;
            getUserStatus();
            $("#goToSleepButton").attr("value", "Alvás").attr("onclick", "goToSleep()")
            getJobProgress();
        }

        function getJobList(){
            $.get("[[@{'/dev/get_jobs'}]]", function(responseJson){
                $("#JobsTable").html("")
                JobsTable = $("#JobsTable")
                $.each(responseJson, function (index, job){
                    $("<tr>")
                        .append($("<td>").text(job.baseDifficulty))
                        .append($("<td>").text(job.skill))
                        .append($("<td>").text(job.pay))
                        .append($("<td>").text(job.timeRequired))
                        .append($("<td>").append('<button onclick="registerJob(' + job.id + ')">Munkára jelentkezés</button>'))
                        .appendTo(JobsTable)
                })
            }).fail(function(){
                alert("Hiba: nem lehetett kapcsolódni a szerverhez")
            })
        }

        function registerJob(job_id){
            $.get("[[@{'/dev/register_job/'}]]" + job_id, function(responseJson){
                if(responseJson == "OK"){
                    alert("Sikeres munkafelvétel")
                    getJobList()
                    getJobProgress()
                }else if(responseJson == "ERR"){
                    alert("Már van felvéve egy munkád")
                }else{
                    alert("Ismeretlen hiba")
                }
            })
                .fail(function(){
                    alert("Hiba: nem lehetett kapcsolódni a szerverhez")
                })
        }

        function getJobProgress(){
            $.get("[[@{'/dev/job_progress'}]]", function(responseJson){

                jobDiv = $("#job_progress")
                time = $("#time")

                if(responseJson === -1){
                    jobDiv.hide()
                }else{
                    jobDiv.show()
                    countdown(responseJson)
                }
            }).fail(function(){
                alert("Hiba: nem lehetett kapcsolódni a szerverhez")
            })
        }
        var timeRequired;
        function getTimeRequired(){
            $.get("[[@{'/dev/job_required_time'}]]", function(responseJson){
                timeRequired = responseJson;
            }).fail(function(){
                alert("Hiba: nem lehetett kapcsolódni a szerverhez")
            })
        }

        function countdown(responseJson){
            getTimeRequired();

            var intervalCountdown = setInterval(function(){
                responseJson -= 1;
                minutes = parseInt(responseJson / 60, 10);
                seconds = parseInt(responseJson % 60, 10);

                time.html("")
                if(seconds < 10){
                    time.append("Visszalévő idő: " + minutes + ":0" + seconds);
                }else{
                    time.append("Visszalévő idő: " + minutes + ":" + seconds);
                }

                xp((responseJson/timeRequired)*100+"%");

                if(responseJson <=0){
                    getJobProgress();
                    clearInterval(intervalCountdown);
                }

                if(isSleeping){
                    clearInterval(intervalCountdown)
                }

            }, 1000)
        }

        function getUserStatus(){
            $.get("[[@{'/dev/get_update/'}]]", function(responseJson){
                hunger((responseJson.hunger/10)+"%")
                energy(responseJson.energyLevel+"%")
                if(responseJson.state === "SLEEP"){
                    sleeping()
                }else if(responseJson.state === "WORK"){
                    getSkin("WORK");
                }else{
                    getSkin("IDLE");
                }
                $("#SkillsTable").html("")
                skillTable = $("#SkillsTable")
                $.each(responseJson.skills, function (index, skill){
                    $("<tr>")
                        .append($("<td>").text(skill.skill))
                        .append($("<td>").text(skill.level))
                        .append($("<td>").text(skill.xp))
                        .append($("<td>").text(parseInt(Math.log(1+Math.pow(skill.level, 3))*1000)))
                        .appendTo(skillTable)
                })

            })
                .fail(function(){
                    alert("Hiba: nem lehetett kapcsolódni a szerverhez")
                })
        }

        function getInventory(){
            $.get("[[@{'/user/get_inventory'}]]", function(responseJson){
                $("#shop_skin_container").html("")
                $("#shop_item_container").html("")
                skinContainer = $("#shop_skin_container")
                itemContainer = $("#shop_item_container")
                $.each(responseJson, function (index, item){
                    if(item.skin){
                        $("<div>").addClass("card_inv").attr("id", "zoom").append('' +
                            '<img class="skin_img" src="image/'+ item.url +'"  alt="Skin előnézete">\n' +
                            '<form>\n' +
                            '   <input onclick="useSkin('+ item.id +')" value="Felhasznál" class="shop_buy"  >\n' +
                            '</form>').appendTo(skinContainer)
                    }else{
                        $("<div>").addClass("card_inv").attr("id", "zoom").append('' +
                            '<img class="skin_img" src="image/'+ item.url +'"  alt="Skin előnézete">\n' +
                            '<form>\n' +
                            '   <input onclick="useItem('+ item.id +')" value="Felhasznál" class="shop_buy"  >\n' +
                            '</form>').appendTo(itemContainer)
                    }
                })
            }).fail(function(){
                alert("Hiba: nem lehetett kapcsolódni a szerverhez")
            })
        }

        function useSkin(id){
            $.get("[[@{'/dev/set_skin/'}]]"+id, function(responseJson){
                alert(responseJson)
                getUserStatus();
            }).fail(function(){
                alert("Hiba: nem lehetett kapcsolódni a szerverhez")
            })

        }

        function useItem(id){
            $.get("[[@{'/dev/use_item/'}]]"+id, function(responseJson){
                alert(responseJson)
                getUserStatus();
                getInventory();
            }).fail(function(){
                alert("Hiba: nem lehetett kapcsolódni a szerverhez")
            })
        }

        function getSkin(value){
            if(value === "WORK"){
                $.get("[[@{'/dev/get_laptop_skin'}]]", function(responseJson){
                    $("#user_skin").removeAttr("width").removeAttr("height").removeAttr("style").attr("src", "image/"+responseJson).attr("width", "300px").attr("height", "153px").attr("style", "float:left;padding-top:200px;")
                }).fail(function(){
                    alert("Hiba: nem lehetett kapcsolódni a szerverhez")
                })
            }else{
                $.get("[[@{'/dev/get_skin'}]]", function(responseJson){
                    $("#user_skin").removeAttr("width").removeAttr("height").removeAttr("style").attr("src", "image/"+responseJson)
                }).fail(function(){
                    alert("Hiba: nem lehetett kapcsolódni a szerverhez")
                })
            }
        }


    </script>

    </body>
    <footer>
        &#169; 2021 mylildev.hu
    </footer>
</html>