<html>
<head>
  <script type="text/javascript"  src="../static/js/scripts.js"></script>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="src/logo.svg" type="image/gif" sizes="16x16">
  <link rel="stylesheet" href="style.css">
  <noscript>Kapcsold be JavaScriptet a böngészőben az adagok hozzáadásához!</noscript>
  <title>Elfelejtett jelszó</title>
</head>
<body>
<div class="background" >
  <header>
    <nav class="mobilMenu">

      <!--mobil menü-->

      <div>
        <!--mobilmenu sor -->

        <div class="ulMobil">

          <a alt="Vissza a főoldalra gomb" style="font-size:70px;cursor: pointer;color:white" href="index.html">&#8962;</a>
          <a id="menulogo" style="font-size:30px;cursor:pointer;color:white;" href="index.php"></a>
        </div>
      </div>
    </nav>
    <!-- asztali menu-->

    <nav class="desktopMenu">
      <ul class="deskMenuList">
        <li>
          <a href="index.html"> <img class="logo" src="src/logo.svg" alt="A honlap logója ami egy link a főoldalra." > </a>
        </li>
        <li>
          <a href="index.html"> <p id="pageName">My little developer</p></a>
        </li>
        <li>
          <a class="menu" href="login.html">Bejelentkezés</a>
        </li>
        <li>
          <a class="menu"  href="regisztracio.html">Regisztráció</a>
        </li>
      </ul>
    </nav>

  </header>
  <main>
    <!--regisztráció input mezői oninput="isFill()"? -->

    <p id="regText">Jelszó megváltoztatása</p>

    <div class="reg_main">
      <div class="itemtext">

      </div>
      <form th:action="@{/reset_password}" method="post">

        <input type="hidden" name="token" th:value="${token}" />
        <div class="item">
          <input type="password" id="password1" name="password" class="changepaww" size="40" placeholder="Jelszó*">
        </div>

        <div class="item">
          <input type="password" id="password2" class="changepaww" size="40" placeholder="Jelszó még egyszer*">
        </div>

        <label for="password" id="notMatchPassw" ></label><br>
        <label for="password" id="empty" ></label>

        <input  id="submit_jelszo_ch"  type="" value="Jelszó megváltoztatása" readonly onclick="password_check2()" >
      </form>
    </div>
  </main>
</div>
<!-- media query a responsivitáshoz -->
<style>
  @media only screen and (max-width: 600px) {
    .desktopMenu {
      display:none;

    }
  }
  @media only screen and (min-width: 600px) {
    .mobilMenu {
      display:none;

    }
  }
  @media only screen and (max-width: 1000px) {
    #pageName{
      margin:0;
      display:none;
    }
    .deskMenuList{
      grid-template-columns: 33% 20% 23% 23%;
    }
  }

  @media only screen and (max-width: 300px) {
    .reg_main{
      margin: auto;

    }
  }

</style>
</body>
<footer>
  &#169; 2021 mylildev.hu
</footer>
</html>


